{validate_app_modules, true}.
{erl_opts, [warnings_as_errors, debug_info,
            {parse_transform, lager_transform}]}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.

{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager", {branch, "master"}}},
	%% Add Wooga eredis driver as dependancy:
	{eredis_pool, "1.1", {git, "git://github.com/hiroeorz/eredis_pool.git", "HEAD"}},
        %% Used to get mochijson2:
        {webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", "HEAD"}}
       ]}.

%% == xref ==

{xref_warnings, false}.

%% xref checks to run
{xref_checks, [exports_not_used, undefined_function_calls]}.

%%-*- mode: erlang -*-
