%%-*- mode: erlang -*-
[
 {eredis_queue,
  [
   {module, eredis_queue_handler},
   {defaut_queue, "push"}
  ]},
 
 {eredis_pool,
  [{pools, [{default,
	     [{size, 10},
	      {max_overflow, 30}
	     ]}
	   ]}
  ]}
].
